{% extends 'admin/base.html.twig' %}

{% block title %}
{% endblock %}

{% block body %}

    <div class="container mt-5">
        {{ form(form) }}
    </div>

{% endblock %}
{% block javascripts %}

{% endblock %}
